<a href="https://colab.research.google.com/github/kaphi10/stg_projects/blob/master/ass3_week8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
%cd /content/drive/MyDrive/pandas_pra

/content/drive/MyDrive/pandas_pra

In [ ]:
import pandas as pd
import numpy as np

READ DATA TO DATA FRAME

In [ ]:
df=pd.read_csv('movies.csv')
df.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN

In [ ]:
df.shape

(9999, 9)

In [ ]:
df.columns

Index(['MOVIES', 'YEAR', 'GENRE', 'RATING', 'ONE-LINE', 'STARS', 'VOTES',
       'RunTime', 'Gross'],
      dtype='object')

In [ ]:
# CONVERTING ALL COLUMNS TO LOWER CASE
df.columns=df.columns.str.lower()

In [ ]:
#RENAME COLUMN one-line to one_line
df.rename(columns={'one-line':'one_line'}, inplace=True)

In [ ]:
#check for null values
df.isnull().sum()

movies         0
year         644
genre         80
rating      1820
one_line       0
stars          0
votes       1820
runtime     2958
gross       9539
dtype: int64

some columns such has significant number of null value:  while column such as movies, one_line and stars has no null values

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movies    9999 non-null   object
 1   year      9355 non-null   object
 2   genre     9919 non-null   object
 3   rating    8179 non-null   float64
 4   one_line  9999 non-null   object
 5   stars     9999 non-null   object
 6   votes     8179 non-null   object
 7   runtime   7041 non-null   float64
 8   gross     460 non-null    object
dtypes: float64(2), object(7)
memory usage: 703.2+ KB

**COMMENCE DATA CLEANING:** MAKE A COPY OF THE DATA FRAME BEFORE CLEANING

In [ ]:

df2=df.copy()
df2

,movies,year,genre,rating,one_line,stars,votes,runtime,gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
9994,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n \n Stars:\nMorgan Taylor Camp...,NaN,NaN,NaN
9995,Arcane,(2021– ),"\nAnimation, Action, Adventure",NaN,\nAdd a Plot\n,\n,NaN,NaN,NaN
9996,Heart of Invictus,(2022– ),"\nDocumentary, Sport",NaN,\nAdd a Plot\n,\n Director:\nOrlando von Einsiedel\n| \n ...,NaN,NaN,NaN
9997,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,NaN,NaN
9998,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,NaN,NaN

PROBLEM DEFINATION:


*  inconsistent columns data type
* significant numbers of null value at votes,gross column  
* duplicated values available

In [ ]:
df2=df2.replace(r'\n',' ', regex=True)

In [ ]:

#check for number duplicate values
df2.duplicated().sum()

431

In [ ]:
#remove duplicated values
df2.drop_duplicates(inplace=True)

In [ ]:
#check
df2.duplicated().sum()

0

fill null values in runtime and rating columns with mean

In [ ]:

x=df2['runtime'].mean()
df2['runtime'].fillna(x,inplace=True)

In [ ]:
x=df2['rating'].mean()
df2['rating'].fillna(x,inplace=True)

In [ ]:
#check
df2.head()

,movies,year,genre,rating,one_line,stars,votes,runtime,gross
0,Blood Red Sky,(2021),"Action, Horror, Thriller",6.100000,A woman with a mysterious illness is forced i...,Director: Peter Thorwarth | Stars: P...,"21,062",121.000000,NaN
1,Masters of the Universe: Revelation,(2021– ),"Animation, Action, Adventure",5.000000,The war for Eternia begins again in what may ...,"Stars: Chris Wood, Sarah Mi...","17,870",25.000000,NaN
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",8.200000,Sheriff Deputy Rick Grimes wakes up from a co...,"Stars: Andrew Lincoln, Norm...","885,805",44.000000,NaN
3,Rick and Morty,(2013– ),"Animation, Adventure, Comedy",9.200000,An animated series that follows the exploits ...,"Stars: Justin Roiland, Chri...","414,849",23.000000,NaN
4,Army of Thieves,(2021),"Action, Crime, Horror",6.919699,"A prequel, set before the events of Army of t...",Director: Matthias Schweighöfer | St...,NaN,68.874144,NaN

In [ ]:
df2.shape

(9568, 9)

In [ ]:
#use replace np.nan with '0' to fill null value 
col=['votes','gross']
df2[col]=df2[col].replace(np.nan,0)

In [ ]:
df2['votes'].isnull().sum()

0

In [ ]:
df2['gross'].isnull().sum()

0

In [ ]:
df2.shape

(9568, 9)

In [ ]:
df2.votes.value_counts()

0         1400
7           35
30          31
32          28
26          28
          ...
1,368        1
2,437        1
8,271        1
10,883       1
911          1
Name: votes, Length: 4130, dtype: int64

convert the votes column to string and then remove all the comma within the digit to enable data type conversion

In [ ]:
#
#df2.votes = df2.votes.apply(lambda x : x.replace(',',''))
df2['votes'] =df2['votes'].astype(str).str.replace(",", "")
#check
df2.votes

0        21062
1        17870
2       885805
3       414849
4            0
         ...
9993         0
9995         0
9996         0
9997         0
9998         0
Name: votes, Length: 9568, dtype: object

In [ ]:
#convert the string(object datatype) to float
df2['votes']=df2['votes'].astype(float)
#check
print(df2['votes'].dtype)

float64

In [ ]:
#convert the gross column to string
df2['gross'] =df2['gross'].astype(str)

In [ ]:
df2['gross'].value_counts()

0          9108
$0.01M       22
$0.02M       16
$0.00M       15
$0.03M       10
           ...
$44.82M       1
$21.36M       1
$54.76M       1
$77.22M       1
$10.40M       1
Name: gross, Length: 333, dtype: int64

In [ ]:
#use lambda to replace $ and M sign with ""
df2.gross = df2.gross.apply(lambda x : x.replace('$',''))
df2.gross = df2.gross.apply(lambda x : x.replace('M',''))


df2['gross'].value_counts()

0        9108
0.01       22
0.02       16
0.00       15
0.03       10
         ...
44.82       1
21.36       1
54.76       1
77.22       1
10.40       1
Name: gross, Length: 333, dtype: int64

In [ ]:
#convert strings to float
df2.gross=df2['gross'].astype(float)
#check
print(df2.gross.dtype)

float64

replace all zero at vote columns and gross columns with there respective mean

In [ ]:
d=df2['votes'].mean()
df2['votes'].replace(0,d,inplace=True)

In [ ]:
df2.info()
print(d)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9568 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movies    9568 non-null   object
 1   year      9026 non-null   object
 2   genre     9490 non-null   object
 3   rating    9568 non-null   float64
 4   one_line  9568 non-null   object
 5   stars     9568 non-null   object
 6   votes     9568 non-null   float64
 7   runtime   9568 non-null   float64
 8   gross     9568 non-null   float64
dtypes: float64(4), object(5)
memory usage: 747.5+ KB
12928.467495819397

In [ ]:
#check
df2.head()

,movies,year,genre,rating,one_line,stars,votes,runtime,gross
0,Blood Red Sky,(2021),"Action, Horror, Thriller",6.100000,A woman with a mysterious illness is forced i...,Director: Peter Thorwarth | Stars: P...,21062.000000,121.000000,0.0
1,Masters of the Universe: Revelation,(2021– ),"Animation, Action, Adventure",5.000000,The war for Eternia begins again in what may ...,"Stars: Chris Wood, Sarah Mi...",17870.000000,25.000000,0.0
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",8.200000,Sheriff Deputy Rick Grimes wakes up from a co...,"Stars: Andrew Lincoln, Norm...",885805.000000,44.000000,0.0
3,Rick and Morty,(2013– ),"Animation, Adventure, Comedy",9.200000,An animated series that follows the exploits ...,"Stars: Justin Roiland, Chri...",414849.000000,23.000000,0.0
4,Army of Thieves,(2021),"Action, Crime, Horror",6.919699,"A prequel, set before the events of Army of t...",Director: Matthias Schweighöfer | St...,12928.467496,68.874144,0.0

In [ ]:
y=df2['gross'].mean()
print(y)

2.1010514214046823

In [ ]:
df2['gross'].replace(0,y, inplace=True)

In [ ]:
df2.head()

,movies,year,genre,rating,one_line,stars,votes,runtime,gross
0,Blood Red Sky,(2021),"Action, Horror, Thriller",6.100000,A woman with a mysterious illness is forced i...,Director: Peter Thorwarth | Stars: P...,21062.000000,121.000000,2.101051
1,Masters of the Universe: Revelation,(2021– ),"Animation, Action, Adventure",5.000000,The war for Eternia begins again in what may ...,"Stars: Chris Wood, Sarah Mi...",17870.000000,25.000000,2.101051
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",8.200000,Sheriff Deputy Rick Grimes wakes up from a co...,"Stars: Andrew Lincoln, Norm...",885805.000000,44.000000,2.101051
3,Rick and Morty,(2013– ),"Animation, Adventure, Comedy",9.200000,An animated series that follows the exploits ...,"Stars: Justin Roiland, Chri...",414849.000000,23.000000,2.101051
4,Army of Thieves,(2021),"Action, Crime, Horror",6.919699,"A prequel, set before the events of Army of t...",Director: Matthias Schweighöfer | St...,12928.467496,68.874144,2.101051

In [ ]:
#remove all special characters and letters from the year column
df2.year = df['year'].str.replace(r'\D', '')
df2.year.value_counts()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

2020        1622
2019        1124
2021         987
2018         861
2017         664
            ...
19951998       1
19841996       1
19751979       1
20022019       1
20042009       1
Name: year, Length: 233, dtype: int64

In [ ]:



df2['year']=pd.to_datetime(df2['year'],errors='coerce',format='%Y')
mean_year=df2['year'].mean()
df2.year.fillna(mean_year,inplace=True)

In [ ]:
df2.isnull().sum()

movies       0
year         0
genre       78
rating       0
one_line     0
stars        0
votes        0
runtime      0
gross        0
dtype: int64

In [ ]:
df2.dropna(inplace=True)

In [ ]:
df2.shape

(9490, 9)

In [ ]:
df2.to_csv("movies_data.csv", index=False)